<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="approvalResult" type="Approval">
		<id column="app_no" property="appNo"/>
		<result column="doc_no" property="docNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="doc_type" property="docType"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
		<result column="doc_title" property="docTitle"/>
		<result column="doc_content" property="docContent"/>
		<result column="doc_originname" property="docOriginName"/>
		<result column="doc_filepath" property="docFilePath"/>
		<result column="app_status" property="appStatus"/>
		<result column="doc_status" property="docStatus"/>
		<result column="app_count" property="appCount"/>
		<result column="app_turn" property="appTurn"/>
		<result column="emp_name" property="empName"/>
	</resultMap>
	
	<!-- 게시글 수 카운트 -->
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from approval
		  join employee using(emp_no)
		 where doc_status='Y'
		   and emp_no = #{empNo}
		   
	</select>
	
	<!-- 내 결재 리스트 조회 -->
	<select id="selectMyApprovalList" resultMap="approvalResult">
		select  
	      	   app_no
	     	 , doc_no
	         , emp_name
	         , decode(doc_type,0,'기안서',1,'품의서',2,'사직서') as "doc_type"
	         , to_char(create_date, 'YYYY-MM-DD')"create_date"
	         , update_date
	         , doc_title
	         , doc_originname
	         , decode(app_status,0,'결재대기',1,'진행중',2,'결재완료',3,'반려',4,'임시저장') as "app_status"
		  from approval 
		  join employee using (emp_no)
		 where doc_status='Y'
		   and emp_no = #{empNo}
		 order
		    by app_no desc
		
	</select>
	
	
	<!-- 진행중 버튼 눌렀을 시 리스트 조회 -->
	<select id="ajaxSelectBtn" resultMap="approvalResult">
		select  
	      	   app_no
	     	 , doc_no
	         , emp_name
	         , decode(doc_type,0,'기안서',1,'품의서',2,'사직서') as "doc_type"
	         , to_char(create_date, 'YYYY-MM-DD')"create_date"
	         , update_date
	         , doc_title
	         , doc_originname
	         , decode(app_status,0,'결재대기',1,'진행중',2,'결재완료',3,'반려',4,'임시저장') as "app_status"
		  from approval 
		  join employee using (emp_no)
		 where doc_status='Y'
		 <if test="appStatus != 100">
		   and app_status = #{appStatus}
		 </if>
		   and emp_no = #{empNo}
		 order
		    by app_no desc
	</select>
	
	
	<select id="selectApproval" resultMap="approvalResult">
		select  
		      app_no
		    , doc_no
		    , emp_name
		    , doc_type
		    , decode(doc_type,0,'기안서',1,'품의서',2,'사직서') as "doc_type"
		    , to_char(create_date, 'YYYY-MM-DD')"create_date"
		    , update_date
		    , doc_title
		    , doc_content
		    , doc_originname
		    , doc_filepath
		    , decode(app_status,0,'결재대기',1,'진행중',2,'결재완료',3,'반려',4,'임시저장') as "app_status"
		    , app_count
		    , app_turn
		 from approval a
		 join employee using (emp_no)
		where doc_status='Y'
		  and app_no = #{appNo}
	</select>
	
	

</mapper>
