<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="carMapper">
	<resultMap type="Car" id="carResult">
		<id column="CAR_NAME" property="carName" />
		<result column="CAR_IMG" property="carImg" />
		<result column="CAR_TYPE" property="carType" />
		<result column="GEAR_TYPE" property="gearType" />
		<result column="CAR_COLOR" property="color" />
		<result column="MAKER" property="maker" />
		<result column="FUEL_TYPE" property="fuelType" />
		<result column="MODEL_YEAR" property="modelYear" />
		<result column="ETC" property="etc" />
		<result column="STATUS" property="status" />
	</resultMap>
	<resultMap type="CarReservation" id="carResResult">
		<id column="CAR_NAME" property="carName" />
		<result column="RESERVATION" property="reservation" />
		<result column="REQUEST_DATE" property="requestDate" />
		<result column="AP_DATE" property="apDate" />
		<result column="AP_STATUS" property="apStatus" />
		<result column="APPROVER" property="approver" />
		<result column="RES_DATE" property="resDate" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="CAUSE" property="cause" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select
			count(*)
		from car
	</select>
	<select id="selectList" resultMap="carResult">
		   select
		         CAR_NAME
		        ,CAR_IMG
		        ,CAR_TYPE
		        ,GEAR_TYPE
		        ,CAR_COLOR
		        ,MAKER
		        ,FUEL_TYPE
		        ,MODEL_YEAR
		        ,ETC
		        ,STATUS
		    from car
	
	</select>
	<insert id="insertCar">
		insert
		 into car
		 (
		   CAR_NAME
	        ,CAR_IMG
	        ,CAR_TYPE
	        ,GEAR_TYPE
	        ,CAR_COLOR
	        ,MAKER
	        ,FUEL_TYPE
	        ,MODEL_YEAR
	        ,ETC
	        ,STATUS
		 
		 )
		 values
		 (
		 #{carName}
		,#{carImg}
		,#{carType}
		,#{gearType}
		,#{color}
		,#{maker}
		,#{fuelType}
		,#{modelYear}
		,#{etc}
		,#{status}
		 )
	</insert>
	<delete id="deleteCar">
		delete car
			where car_name=#{carName}
	</delete>
	<select id="selectCar" resultMap="carResult">
		select
			 CAR_NAME
	        ,CAR_IMG
	        ,CAR_TYPE
	        ,GEAR_TYPE
	        ,CAR_COLOR
	        ,MAKER
	        ,FUEL_TYPE
	        ,MODEL_YEAR
	        ,ETC
	        ,STATUS
			    from car
			 where car_name= #{carName}
	</select>
	<insert id="insertReservation">
		insert into
		car_reservation
		(
			CAR_NAME
			,RESERVATION
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
		)values
		(
		#{carName}
		,#{reservation}
		,SYSDATE
		,#{resDate}
		,#{startTime}
		,#{endTime}
		,#{cause}
		)
		
	</insert>
	<select id="selectMyResCount" resultType="_int">
		select
			count(*) from
	car_reservation
	where reservation=#{reservation}
	</select>
	<select id="selectMyRes" resultMap="carResResult">
		select
			CAR_NAME
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
			,ap_status
		from car_reservation
		where reservation = #{reservation}
	</select>
	
</mapper>
