<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="carMapper">
	<resultMap type="Car" id="carResult">
		<id column="CAR_NAME" property="carName" />
		<result column="CAR_IMG" property="carImg" />
		<result column="CAR_TYPE" property="carType" />
		<result column="GEAR_TYPE" property="gearType" />
		<result column="CAR_COLOR" property="color" />
		<result column="MAKER" property="maker" />
		<result column="FUEL_TYPE" property="fuelType" />
		<result column="MODEL_YEAR" property="modelYear" />
		<result column="ETC" property="etc" />
		<result column="STATUS" property="status" />
	</resultMap>
	<resultMap type="CarReservation" id="carResResult">
		<id column="RES_NO" property="resNo" />
		<result column="CAR_NAME" property="carName" />
		<result column="RESERVATION" property="reservation" />
		<result column="REQUEST_DATE" property="requestDate" />
		<result column="AP_DATE" property="apDate" />
		<result column="AP_STATUS" property="apStatus" />
		<result column="APPROVER" property="approver" />
		<result column="RES_DATE" property="resDate" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="CAUSE" property="cause" />
		<result column="reject" property="reject" />
		<result column="emp_name" property="empName" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select
			count(*)
		from car
	</select>
	<select id="selectList" resultMap="carResult">
		   select
		         CAR_NAME
		        ,CAR_IMG
		        ,CAR_TYPE
		        ,GEAR_TYPE
		        ,CAR_COLOR
		        ,MAKER
		        ,FUEL_TYPE
		        ,MODEL_YEAR
		        ,ETC
		        ,STATUS
		    from car
	
	</select>
	<insert id="insertCar">
		insert
		 into car
		 (
		   CAR_NAME
	        ,CAR_IMG
	        ,CAR_TYPE
	        ,GEAR_TYPE
	        ,CAR_COLOR
	        ,MAKER
	        ,FUEL_TYPE
	        ,MODEL_YEAR
	        ,ETC
	        ,STATUS
		 
		 )
		 values
		 (
		 #{carName}
		,#{carImg}
		,#{carType}
		,#{gearType}
		,#{color}
		,#{maker}
		,#{fuelType}
		,#{modelYear}
		,#{etc}
		,#{status}
		 )
	</insert>
	<delete id="deleteCar">
		delete car
			where car_name=#{carName}
	</delete>
	<select id="selectCar" resultMap="carResult">
		select
			 CAR_NAME
	        ,CAR_IMG
	        ,CAR_TYPE
	        ,GEAR_TYPE
	        ,CAR_COLOR
	        ,MAKER
	        ,FUEL_TYPE
	        ,MODEL_YEAR
	        ,ETC
	        ,STATUS
			    from car
			 where car_name= #{carName}
	</select>
	<insert id="insertReservation">
		insert into
		car_reservation
		(	RES_NO
			,CAR_NAME
			,RESERVATION
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
		)values
		(
		SEQ_CRNO.NEXTVAL
		,#{carName}
		,#{reservation}
		,SYSDATE
		,#{resDate}
		,#{startTime}
		,#{endTime}
		,#{cause}
		)
		
	</insert>
	<select id="selectMyResCount" resultType="_int">
		select
			count(*) from
	car_reservation
	where reservation=#{reservation}
	</select>
	<select id="selectMyRes" resultMap="carResResult">
		select
			RES_NO
			,CAR_NAME
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
			,ap_status
			,REJECT
		from car_reservation
		where reservation = #{reservation}
	
	</select>
	<select id="selectResCount" resultType="_int">
		select
			count(*) from
	car_reservation
	<if test="option !=null">
		where ap_status in (${option})
	</if>
	</select>
	 <select id="ajaxselectResList" resultMap="carResResult">
		select
			RES_NO
			,CAR_NAME
			,reservation
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
			,EMP_NAME
			,ap_status
		from car_reservation
		join employee on reservation=emp_no
		<if test="option !=null">
		where ap_status in (${option})
		</if>
		order by request_date desc
	</select> 
	<select id="selectResList" resultMap="carResResult">
		select
			RES_NO
			,CAR_NAME
			,reservation
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
			,EMP_NAME
			,ap_status
		from car_reservation
		join employee on reservation=emp_no
		where ap_status=2
	</select>
	<select id="selectCarRes" resultMap="carResResult">
		    select
		    RES_NO
			,CAR_NAME
			,reservation
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
			,ap_date
			,approver
            ,EMP_NAME
            ,ap_status
            ,reject
        	from car_reservation
		join employee on approver=emp_no
        where res_no =#{resNo}
	</select>
	<select id="ajaxselectCarRes" resultMap="carResResult">
		    select
		    RES_NO
			,CAR_NAME
			,reservation
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
            ,EMP_NAME
            ,ap_status
            ,reject
        	from car_reservation
		join employee on reservation=emp_no
        where res_no =#{resNo}
	</select>
	
	<update id="updateApStatus">
		update car_reservation
		set ap_status =#{apStatus}
		,approver=#{approver}
		,ap_date = SYSDATE
		,reject=#{reject}
		where res_no=#{resNo}
	</update>
	<select id="selectNList" resultMap="carResult">
		   select
		         CAR_NAME
		        ,CAR_IMG
		        ,CAR_TYPE
		        ,GEAR_TYPE
		        ,CAR_COLOR
		        ,MAKER
		        ,FUEL_TYPE
		        ,MODEL_YEAR
		        ,ETC
		        ,STATUS
		    from car
	</select>
	<update id="updateCar">
		update car
	       set CAR_TYPE=#{carType}
	        ,GEAR_TYPE=#{gearType}
	        ,CAR_COLOR =#{color}
	        ,MAKER =#{maker}
	        ,car_img=#{carImg}
	        ,FUEL_TYPE =#{fuelType}
	        ,MODEL_YEAR =#{modelYear}
	        ,ETC =#{etc}
	        ,STATUS =#{status}
			 where car_name= #{carName}
		
	</update>
	<select id="selectResList2" resultMap="carResResult">
		select
			RES_NO
			,CAR_NAME
			,reservation
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
			<!-- ,EMP_NAME -->
			,ap_status
		from car_reservation
		<!--join employee on reservation=emp_no  -->
		where ap_status=2
		and car_name=#{carName}
		and RES_DATE=#{resDate}
	</select>
	<select id="selectResStatusCount" resultType="_int">
		select
			count(*) from
		car_reservation
		where ap_status in (${option})
	</select>
	 <select id="selectResStatus" resultMap="carResResult">
		select
			RES_NO
			,CAR_NAME
			,reservation
			,REQUEST_DATE
			,RES_DATE
			,START_TIME
			,END_TIME
			,CAUSE
			,EMP_NAME
			,ap_status
		from car_reservation
		join employee on reservation=emp_no
		where ap_status in (${option})
		order by request_date desc
	</select> 

</mapper>
