<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cfrMapper">
	<resultMap id="cfrResult" type="CfRoom">
		<id column="CFR_NAME" property="cfrName" />
		<result column="CFR_IMG" property="firstImg" />
		<result column="CAPACITY" property="capacity" />
		<result column="equipment" property="equipment" />
	</resultMap>
	<resultMap id="cfrResMap" type="CfrReservation">
		<id column="RES_NO" property="resNo" />
		<result column="CFR_NAME" property="cfrName" />
		<result column="RESERVATION" property="reservation" />
		<result column="STATUS" property="status" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="USE_DATE" property="useDate" />
		<result column="CAPACITY" property="capacity" />
		<result column="CF_TITLE" property="cfTitle" />
	</resultMap>
	<update id="updateFirstImg">
		update CF_ROOM
		set CFR_IMG = #{firstImg}
	</update>
	<insert id="enrollCfr">
		insert
			into CF_ROOM
		(
		cfr_name
	   ,cfr_img
	   ,capacity
	   ,equipment
		)
		values
		(
		#{cfrName}
	   ,#{firstImg}
	   ,#{capacity}
	   ,#{equipment}	
		)
	</insert>
	<select id="selectListCount" resultType="_int">
		select count(*) 
		from cf_room	
	</select>
	<select id="selectList" resultMap="cfrResult">
		select
			cfr_name
	 		,cfr_img
	from cf_room
	</select>
	<delete id="deleteCfr">
		delete cf_room
		where cfr_name=#{cfrName}
	</delete>
	<insert id="reserveCfr">
		insert into
			cfr_reservation
			(
			RES_NO
			,CFR_NAME
			,RESERVATION
			,start_time
			,end_time
			,use_date
			,capacity
			,cf_title
			,status
			)
			values
			(
			SEQ_CFRNO.NEXTVAL
			,#{cfrName}
			,#{reservation}
			,#{startTime}
			,#{endTime}
			,#{useDate}
			,#{capacity}
			,#{cfTitle}
			,2
			)
			
	</insert>
	<select id="selectNList" resultMap="cfrResult">
		select 
			CFR_NAME
		from cf_room
	
	</select>
	<select id="selectMyCfrListCount" resultType="_int">
		select 
			count (*)
		 from CFR_RESERVATION
		where reservation = #{reservation}
	</select>
	
	<select id="selectMyCfrList" resultMap="cfrResMap">
		  select 
            RES_NO
           ,CFR_NAME
           ,STATUS
           ,START_TIME
           ,END_TIME
           ,USE_DATE
           ,CF_TITLE
           ,status
        from CFR_RESERVATION
        where RESERVATION = #{reservation}
        order by USE_DATE
	
	</select>
	<select id="ajaxSelectCfrList" resultMap="cfrResult">
		select
			cfr_name
	 		,cfr_img
	 		,CAPACITY
	 		,equipment
		from cf_room
	</select>
	<select id="selectCfr" resultMap="cfrResult">
		select 
			cfr_name
			,cfr_img
	 		,CAPACITY
	 		,equipment
	 	from cf_room
	 	where cfr_name =#{cfrName}
	</select>
	<select id="selectMyCfr" resultMap="cfrResMap">
		select 
			CFR_NAME
			,RESERVATION
			,STATUS
			,START_TIME
			,END_TIME
			,USE_DATE
			,CAPACITY
			,CF_TITLE
			,RES_NO
		from cfr_reservation
	where res_no = #{resNo}
	</select>
	<update id="updateCfr">
		update
			cf_room
		set cfr_img=#{firstImg}
		,CAPACITY=#{capacity}
		,equipment=#{equipment}
		where cfr_name=#{cfrName}
	</update>
	<select id="selectResList" resultMap="cfrResMap">
		select
		    RES_NO
           ,CFR_NAME
           ,STATUS
           ,START_TIME
           ,END_TIME
           ,USE_DATE
           ,CF_TITLE
           from cfr_reservation
         where status = 2
	</select>
	<delete id="deleteCfrRes" >
		delete
		from cfr_reservation
		where res_no=#{resNo}
	</delete>
	<update id="updateCfrRes">
		update
		cfr_reservation
	set START_TIME =#{startTime},
		end_time =#{endTime},
		CAPACITY =#{capacity},
		CF_TITLE=#{cfTitle},
		use_Date=#{useDate},
		CFR_NAME=#{cfrName}
		where res_no=#{resNo}
	</update>
</mapper>
