<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

	<resultMap id="employeeResult" type="Employee">
		<id column="emp_no" property="empNo" />
		<result column="emp_pwd" property="empPwd"></result>
		<result column="emp_name" property="empName"></result>
		<result column="gender" property="gender"></result>
		<result column="phone" property="phone"></result>
		<result column="email" property="email"></result>
		<result column="birth" property="birth"></result>
		<result column="dept_name" property="deptName"></result>
		<result column="team_name" property="teamName"></result>
		<result column="job_name" property="jobName"></result>
		<result column="emp_phone" property="empPhone"></result>
		<result column="enroll_date" property="enrollDate"></result>
		<result column="resign_date" property="resignDate"></result>
		<result column="modify_date" property="modifyDate"></result>
		<result column="profile_url" property="profileUrl"></result>
		<result column="task" property="task"></result>
		<result column="status" property="status"></result>
		<result column="account_status" property="accountStatus"></result>
	</resultMap>
	
	<resultMap id="deptResult" type="Department">
		<id column="dept_code" property="deptCode" />
		<result column="dept_name" property="deptName"></result>
		<result column="status" property="status"></result>
	</resultMap>
	
	<resultMap id="teamResult" type="Team">
		<id column="team_code" property="teamCode" />
		<result column="team_name" property="teamName"></result>
		<result column="status" property="status"></result>
		<result column="dept_code" property="deptCode"></result>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="loginEmployee" resultMap="employeeResult">
		select
			   emp_no
			 , emp_pwd
			 , emp_name
			 , gender
			 , phone
			 , email
			 , birth
			 , dept_name
			 , team_name
			 , job_name
			 , emp_phone
			 , to_char(enroll_date, 'YYYY-MM-DD') as "enroll_date"
			 , to_char(resign_date, 'YYYY-MM-DD') as "resign_date"
			 , to_char(modify_date, 'YYYY-MM-DD') as "modify_date"
			 , profile_url
			 , task
			 , e.status
			 , account_status
		  from employee e
          left join department d on (e.dept_code = d.dept_code)
          left join team t on (e.team_code = t.team_code)
          left join job j on (e.job_code = j.job_code)
		 where e.status = 'Y'
		   and account_status = 'Y'
		   and emp_no = #{empNo}
	</select>
	
	<!-- 사원 정보 수정 -->
	<update id="updateEmployee">
		update
		       employee
		   set email = #{email}
		     , phone = #{phone}
		     , emp_phone = #{empPhone}
		     , birth = #{birth}
		     , task = #{task}
		     , modify_date = sysdate
		 where emp_no = #{empNo}
	</update>
	
	<!-- 프로필 이미지 수정 -->
	<update id="updateProfileImg">
		update
			   employee
		   set profile_url = #{profileUrl}
		     , modify_date = sysdate
		 where emp_no = #{empNo}
	</update>
	
	<!-- 결재선 선택시 사원조회리스트(ajax)  -->
	<select id="ajaxSelectEmpList" resultMap="employeeResult"> 
		select
		      emp_no
		    , emp_name
		    , dept_name
		    , team_name
		    , job_name
	     from employee e
	     join department d on (e.dept_code=d.dept_code)
	     join team t on (e.team_code=t.team_code)
	     join job j on (e.job_code=j.job_code)
	    where e.status='Y' 
	    order
	       by t.team_code, j.job_code
	</select>
		
	<select id="ajaxSelectDeptList" resultMap="deptResult">
		select
			 dept_code
		   , dept_name
		from department
	   where status= 'Y'
	</select>
	
	<select id="ajaxSelectTeamList" resultMap="teamResult">
		select
			 team_code
		   , team_name
		   , dept_code
		from team
	   where status= 'Y'
	</select>


</mapper>
